<div>
  <form [formGroup]="formPerson">
    <div class="form-container">
      <div class="header-form">
        <h1 class="title-form">
          {{ isEdit ? 'Editar' : 'Cadastro de' }} usuário
        </h1>
      </div>

      <div class="input-group">
        <label class="label-form" for="zipcode" aria-label="zipcode">CEP:</label>
        <input class="input-form" type="text" maxlength="8" formControlName="zipcode" id="zipcode">

        <span class="error-feedback" *ngIf="formPerson.get('zipcode').hasError('erro')">
          *CEP inválido
        </span>
      </div>

      <div class="input-group">
        <label class="label-form" for="name" aria-label="name">Nome:</label>
        <input class="input-form" type="text" formControlName="name" id="name">

        <span class="error-feedback"
          *ngIf="formPerson.get('name').hasError('required')
          && formPerson.get('name').touched">
          *É obrigatório
        </span>
      </div>

      <div class="input-group">
        <label class="label-form" for="birthday" aria-label="birthday">Data Nascimento:</label>
        <input class="input-form" type="date" formControlName="birthday" id="birthday">

        <span class="error-feedback"
          *ngIf="formPerson.get('birthday').hasError('required')
          && formPerson.get('birthday').touched">
          *É obrigatório
        </span>
      </div>

      <div class="input-group">
        <label class="label-form" for="email" aria-label="email">E-mail:</label>
        <input class="input-form" type="email" formControlName="email" id="email">

        <span class="error-feedback"
          *ngIf="formPerson.get('email').hasError('required')
          && formPerson.get('email').touched">
          *É obrigatório
        </span>

        <span class="error-feedback"
          *ngIf="formPerson.get('email').hasError('email')
          && formPerson.get('email').touched">
          *E-mail inválido
        </span>
      </div>

      <div class="input-group">
        <label class="label-form" for="channel" aria-label="channel">Canal:</label>
        <select name="channel" class="input-form" formControlName="channel">
          <option value="Canal A">Canal A</option>
          <option value="Canal B">Canal B</option>
        </select>
      </div>

      <button class="button-submit" type="submit" (click)="onSubmit()">
        {{ isEdit ? "Atualizar" : "Cadastrar"}}
      </button>
    </div>
  </form>
</div>
